<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<h1>{{this.url}}</h1>
		</section>
	</section>
	<section class="skeleton row">
		<section class="skeleton six columns">
			<h4>Inbound links</h4>
			
			<ul commons-avatar-list>
				<li *ngFor="let link of this.urlLinks[EDirection.INBOUND]" commons-avatar-list-item class="compact singular"
						[avatar]="{ icon: 'arrow-collapse-right', iconSet: 'mdi' }"
						(onSelect)="this.doNavigate(link);"
				><span title>{{link}}</span></li>
			</ul>
		</section>
		<section class="skeleton six columns">
			<h4>Outbound links</h4>
			
			<ul commons-avatar-list>
				<li *ngFor="let link of this.urlLinks[EDirection.OUTBOUND]" commons-avatar-list-item class="compact singular"
						[avatar]="{ icon: 'arrow-expand-right', iconSet: 'mdi' }"
						(onSelect)="this.doNavigate(link);"
				><span title>{{link}}</span></li>
			</ul>
		</section>
	</section>
</section>

</main>
