<dl>
	<ng-container *ngFor="let ue of this.errors">
		<dt>{{ue.url}}</dt>
		<dd><ul>
			<li *ngFor="let e of ue.errors">
				{{e.application}} ; {{e.message}} 
			</li>
		</ul></dd>
	</ng-container>
</dl>