<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<commons-pane
					[title]="'Search for domain'"
			>
				<commons-textbox
						[placeholder]="'Domain name'"
						[(value)]="this.domain"
						(onAutocomplete)="this.doAutocomplete($event);"
				></commons-textbox>
				
				<button commons-button class="filled"
						[disabled]="!this.domain"
						(click)="this.doSearch();"
				>Search</button>
			</commons-pane>

			<commons-pane
					[title]="'Autocomplete matches'"
			>
				<ul>
					<li *ngFor="let domain of this.autocompleted"
							(click)="this.doClick(domain);"
					>
						{{domain}}
					</li>
				</ul>
			</commons-pane>
		</section>
	</section>
</section>

</main>
