<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<h2>Images > 10Mb</h2>
			
			<ul>
				<li *ngFor="let image of this.images">
					{{image.url}} ({{image.size | commonsPrettySize}})
				</li>
			</ul>
		</section>
	</section>
</section>

</main>
