<commons-splash
		[text]="'Bug report'"
		[fade]="true"
		[background]="'./assets/images/splashbg.jpg'"
></commons-splash>
<commons-tab-bar class="relative"
		[name]="'bugs'"
>
	<a commons-tab
			routerLink="overview" 
			routerLinkActive="selected"
	>Overview</a>
	<a commons-tab
			routerLink="php" 
			routerLinkActive="selected"
	>PHP</a>
	<a commons-tab
			routerLink="asp" 
			routerLinkActive="selected"
	>ASP/.NET</a>
</commons-tab-bar>

<router-outlet></router-outlet>
