<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<section commons-card>
				<status-tallies
						[statuses]="[
								EStatus.QUEUED,
								EStatus.DISALLOWED,
								EStatus.DENY,
								EStatus.ACTIVE,
								EStatus.DONE,
								EStatus.DEAD,
								EStatus.FAILED
						]"
				></status-tallies>
			</section>
		</section>
	</section>

	<section class="skeleton row">
		<section class="skeleton four columns">
			<section commons-card>
				<sandbox-speedometer></sandbox-speedometer>
			</section>
		</section>
		<section class="skeleton eight columns">
			<section commons-card class="full-height bandwidth">
				<sandbox-bandwidth></sandbox-bandwidth>
			</section>
		</section>
	</section>

	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<section commons-card>
				<sandbox-fetch></sandbox-fetch>
			</section>
		</section>
	</section>
</section>

</main>
