<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton three-half columns">
			<section commons-card class="full-height">
				<commons-figure-tally-summary
						[label]="'Domains'"
						[tally]="this.domainTallies"
				></commons-figure-tally-summary>
			</section>
		</section>
		<section class="skeleton five columns">
			<section commons-card class="full-height">
				<commons-figure-tally-summary
						[label]="'URLs'"
						[tally]="this.urlsTotal"
						[leftLabel]="'Queued'"
						[left]="this.urlsQueued"
						[leftPercent]="(this.urlsQueued === undefined || this.urlsTotal === undefined) ? undefined : (this.urlsQueued / this.urlsTotal)"
						[rightLabel]="'Done'"
						[right]="this.urlsDone"
						[rightPercent]="(this.urlsDone === undefined || this.urlsTotal === undefined) ? undefined : (this.urlsDone / this.urlsTotal)"
				></commons-figure-tally-summary>
			</section>
		</section>
		<section class="skeleton three-half columns">
			<section commons-card class="full-height">
				<commons-figure-tally-summary
						[label]="'Links'"
						[tally]="this.linkTallies"
				></commons-figure-tally-summary>
			</section>
		</section>
	</section>
</section>

</main>
