<div container>
	<div head>
		<div outcome></div>
		<div url>URL</div>
	</div>
	<div body>
		<div row *ngFor="let url of this.urls; let index = index"
				[style.top.px]="index * 25"
		>
			<div outcome>
				<div bullet
						[class.information]="url.outcome === EOutcome.INFORMATION"
						[class.success]="url.outcome === EOutcome.SUCCESS"
						[class.redirect]="url.outcome === EOutcome.REDIRECT"
						[class.clienterror]="url.outcome === EOutcome.CLIENTERROR"
						[class.servererror]="url.outcome === EOutcome.SERVERERROR"
						[class.failed]="url.outcome === EOutcome.FAILED"
						[class.unknown]="url.outcome === EOutcome.UNKNWON"
				></div>
			</div>
			<div url>
				{{url.url}}
			</div> 
		</div>
	</div>
</div>
