@charset 'utf8';

@materialdesign__font__body1--size: 14px;
@materialdesign__font__family: "Roboto";
@materialdesign__font__body2--weight: 500;
@materialdesign__font__body1--weight: 400;

@rows: 10;

@row-height: 25px;
@padding-vertical: 5px;
@padding-horizontal: 10px;

@outcome--width: 30px;

div {
	box-sizing: border-box;

	font-family: @materialdesign__font__family;
	font-size: @materialdesign__font__body1--size;
	line-height: @materialdesign__font__body1--size;
	
	&[container] {
		position: relative;
		top: 5px;
		left: 0;
		
		width: 100%;
		height: @row-height * (@rows + 1);
		overflow: hidden;
		
		/*border-bottom: 1px solid @web-app-commons__palette__subtlest;*/
	}
	
	&[outcome], &[url] {
		position: absolute;
		top: 0;

		padding: @padding-vertical @padding-horizontal;
		height: @row-height;

		allow-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		&[outcome] {
			left: 0;
			width: @outcome--width;
		}
		&[url] {
			right: 0;
			width: ~'calc(100% - ' @outcome--width ~')';
		}
	}

	&[head], &[body], &[row] {
		position: absolute;
		left: 0;
		
		width: 100%;
	}
	
	&[head], &[row] {
		height: @row-height;
		transition: top 0.1s linear;
	}

	&[head] {
		top: 0;
		
		background-color: silver;
		font-weight: @materialdesign__font__body2--weight;
	}

	&[body] {
		top: @row-height;
		height: @row-height * @rows;
		font-weight: @materialdesign__font__body1--weight;
	}
	
	&[bullet] {
		width: 14px;
		height: 14px;
		border-radius: 7px;
		background: rgba(0, 0, 0, 0.1);

		&.information {
			background: rgba(0, 0, 0, 0.3);
		}
		
		&.success {
			background: rgba(0, 204, 0, 1);
		}
		
		&.redirect {
			background: rgba(0, 160, 0, 1);
		}
		
		&.clienterror {
			background: rgba(255, 224, 0, 1);
		}
		
		&.servererror {
			background: rgba(255, 128, 0, 1);
		}
		
		&.failed {
			background: rgba(240, 0, 0, 1);
		}
	}
}
