<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<commons-pane
					[title]="'Search for URL'"
			>
				<commons-textbox
						[placeholder]="'URL'"
						[(value)]="this.url"
				></commons-textbox>
				
				<button commons-button class="filled"
						[disabled]="!this.url"
						(click)="this.doSearch();"
				>Search</button>
			</commons-pane>
		</section>
	</section>
</section>

</main>
