<main>

<section class="skeleton container wide">
	<section class="skeleton row">
		<section class="skeleton twelve columns">
			<commons-pane
					[title]="this.domain"
			>
				<div container2>
					<div stack *ngFor="let stack of this.stacks">
						<div item *ngFor="let ss of stack"
								[style.height.px]="(ss.tally * 20)"
								[class.content]="ss.name !== ''"
						>
							<ng-container *ngIf="ss.name !== ''">{{ss.name}} ({{ss.tally}})</ng-container>
						</div>
					</div>
				</div>
			</commons-pane>
		</section>
	</section>
</section>

</main>
