@charset 'utf8';

div {
	box-sizing: border-box;
	allow-space: nowrap;
}

div[container2] {
	clear: both;
	width: calc(11 * 200px);
	
	div[stack] {
		width: 200px;
		float: left;
		
		div[item] {
			width: inherit;
			overflow: hidden;
			
			&.content {
				border-left: 1px solid rgba(0, 0, 0, 0.2);
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
}
