@skeleton__max-width: 960px;
@skeleton__threshold--collapse: 550px;

@skeleton__max-width--wide: 1140px;
@skeleton__threshold--collapse--wide: 768px;

@skeleton__max-width--widest: 1400px;
@skeleton__threshold--collapse--widest: 1024px;

@skeleton__gap--between-columns: 20px;

.skeleton-column-width(@count) {
	width: ~'calc((100% - ' (((12 / @count) - 1) * @skeleton__gap--between-columns) ~') / ' (12 / @count) ~')';
}

.skeleton-offset-width(@count) {
	margin-left: ~'calc(((100% - ' (((12 / @count) - 1) * @skeleton__gap--between-columns) ~') / ' (12 / @count) ~') + ' @skeleton__gap--between-columns ~')';
}

.skeleton {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.skeleton.container {
	position: relative;
	width: 100%;
	max-width: @skeleton__max-width;
	margin: 0 auto;
	padding: 0 @skeleton__gap--between-columns;
	
	&.wide {
		max-width: @skeleton__max-width--wide;
	}
	
	&.widest {
		max-width: @skeleton__max-width--widest;
	}
	
	&.full {
		max-width: none;
	}
}

.skeleton.container,
.skeleton.row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.skeleton.column,
.skeleton.columns {
	float: left;
	margin-top: @skeleton__gap--between-columns;

	margin-left: @skeleton__gap--between-columns;
	
	&:first-child {
		margin-left: 0;
	}
	
	&.one		{ .skeleton-column-width(1); }
	&.two		{ .skeleton-column-width(2); }
	&.three		{ .skeleton-column-width(3); }
	&.three-half	{ .skeleton-column-width(3.5); }
	&.four		{ .skeleton-column-width(4); }
	&.five		{ .skeleton-column-width(5); }
	&.six		{ .skeleton-column-width(6); }
	&.seven		{ .skeleton-column-width(7); }
	&.eight		{ .skeleton-column-width(8); }
	&.nine		{ .skeleton-column-width(9); }
	&.ten		{ .skeleton-column-width(10); }
	&.eleven	{ .skeleton-column-width(11); }
	&.twelve	{ .skeleton-column-width(12); margin-left: 0; }

	&.one-third		{ .skeleton-column-width(4); }
	&.two-thirds	{ .skeleton-column-width(8); }
	&.one-fifth		{ .skeleton-column-width(2.4); }
	&.two-fifths		{ .skeleton-column-width(2.4 * 2); }
	&.three-fifths		{ .skeleton-column-width(2.4 * 3); }
	&.four-fifths		{ .skeleton-column-width(2.4 * 4); }

	&.one-half	{ .skeleton-column-width(6); }

	/* Offsets */
	&.offset-by-one		{ .skeleton-offset-width(1); }
	&.offset-by-two		{ .skeleton-offset-width(2); }
	&.offset-by-three	{ .skeleton-offset-width(3); }
	&.offset-by-four	{ .skeleton-offset-width(4); }
	&.offset-by-five	{ .skeleton-offset-width(5); }
	&.offset-by-six		{ .skeleton-offset-width(6); }
	&.offset-by-seven	{ .skeleton-offset-width(7); }
	&.offset-by-eight	{ .skeleton-offset-width(8); }
	&.offset-by-nine	{ .skeleton-offset-width(9); }
	&.offset-by-ten		{ .skeleton-offset-width(10); }
	&.offset-by-eleven	{ .skeleton-offset-width(11); }

	&.offset-by-one-third	{ .skeleton-offset-width(4); }
	&.offset-by-two-thirds	{ .skeleton-offset-width(8); }

	&.offset-by-one-half	{ .skeleton-offset-width(6); }

	@media (max-width: @skeleton__threshold--collapse - 1) {
		width: 100% !important;
		margin-left: 0;
	}

	.skeleton.container.wide &,
	.skeleton.container.widest & {
		@media (max-width: @skeleton__threshold--collapse--wide - 1) {
			&.one,
			&.two,
			&.three,
			&.four,
			&.five,
			&.one-fifth {
				width: 100% !important;
				margin-left: 0;
			}

			&.nine,
			&.ten,
			&.eleven {
				width: 100% !important;
				margin-left: 0;
			}
		}
	}

	.skeleton.container.widest & {
		@media (max-width: @skeleton__threshold--collapse--widest - 1) {
			&.one,
			&.two,
			&.three,
			&.one-fifth {
				width: 100% !important;
				margin-left: 0;
			}

			&.nine,
			&.ten,
			&.eleven {
				width: 100% !important;
				margin-left: 0;
			}
		}
	}
}

.skeleton.row:first-child {
	.skeleton.column,
	.skeleton.columns {
		margin-top: 0;
		
		@media (max-width: @skeleton__threshold--collapse - 1) {
			margin-top: @skeleton__gap--between-columns;
			
			&:first-child {
				margin-top: 0;
			}
		}

		.skeleton.container.wide & {
			@media (max-width: @skeleton__threshold--collapse--wide - 1) {
				margin-top: @skeleton__gap--between-columns;
				
				&:first-child,
				&.six,
				&.seven,
				&.eight {
					margin-top: 0;
				}
			}

			@media (max-width: @skeleton__threshold--collapse - 1) {
				&.six,
				&.seven,
				&.eight {
					margin-top: @skeleton__gap--between-columns;
				}
				
				&:first-child {
					margin-top: 0;
				}
			}
		}

		.skeleton.container.widest & {
			@media (max-width: @skeleton__threshold--collapse--widest - 1) {
				margin-top: @skeleton__gap--between-columns;
				
				&:first-child,
				&.four,
				&.five,
				&.six,
				&.seven,
				&.eight {
					margin-top: 0;
				}
			}

			@media (max-width: @skeleton__threshold--collapse - 1) {
				&.six,
				&.seven,
				&.eight {
					margin-top: @skeleton__gap--between-columns;
				}
				
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	
/*	.skeleton.column,
	.skeleton.columns {
		&:first-child {
			margin-top: 0;
		}
	
		@media (min-width: @skeleton__threshold--collapse) {
			margin-top: 0;
		}
	}*/
}
