<commons-splash
		[text]="'Crawl'"
		[fade]="true"
		[background]="'./assets/images/splashbg.jpg'"
></commons-splash>

<commons-tab-bar class="relative"
		[name]="'crawl'"
>
	<a commons-tab
			routerLink="live" 
			routerLinkActive="selected"
	>Live</a>
	<a commons-tab
			routerLink="queue" 
			routerLinkActive="selected"
	>Queue</a>
</commons-tab-bar>

<router-outlet></router-outlet>
