<commons-toolbar
		[title]="this.title"
		[subtitle]="this.subtitle"
>
	<i class="material-icons" commons-toolbar-status 
			[name]="'socket.io'"
	>wifi</i>
</commons-toolbar>

<commons-drawer-menu>
	<menuitem commons-drawer-menu-item
			[icon]="'settings'"
			[autoclose]="true"
			(click)="this.doSettings();"
	>Settings</menuitem>
</commons-drawer-menu>

<commons-main>
	<router-outlet></router-outlet>
</commons-main>

<commons-overflow-menu></commons-overflow-menu>

<commons-bottom-navigation-bar>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/dashboard" 
			routerLinkActive="selected"
			[icon]="'view-dashboard'"
			[iconSet]="'mdi'"
			[caption]="'Dashboard'"
	></a>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/crawl" 
			routerLinkActive="selected"
			[icon]="'cloud-search'"
			[iconSet]="'mdi'"
			[caption]="'Crawl'"
	></a>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/domains" 
			routerLinkActive="selected"
			[icon]="'domain'"
			[caption]="'Domains'"
	></a>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/urls" 
			routerLinkActive="selected"
			[iconSet]="'mdi'"
			[icon]="'web'"
			[caption]="'URLs'"
	></a>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/images" 
			routerLinkActive="selected"
			[icon]="'image'"
			[caption]="'Images'"
	></a>
	<a commons-bottom-navigation-bar-item
			routerLink="/hydra/bugs" 
			routerLinkActive="selected"
			[icon]="'bug_report'"
			[caption]="'Bug report'"
	></a>
</commons-bottom-navigation-bar>

<commons-delayed></commons-delayed>

<commons-dialogs></commons-dialogs>

<commons-snackbar
		[timeout]="5000"
		[allowClose]="true"
></commons-snackbar>
